@charset "utf-8";

#wrap{font-family: 'Nanum Gothic'; margin: 0 auto;}

/* header */
#header .inner{height: 250px; position: relative; z-index: 99999;}
#header .gnb_bg{position: absolute; top: 190px; left: 0; height: 60px; width: 100%; background: #cee5f7;}
#header h1{position: absolute; top: 50px; left: 50%; transform: translateX(-50%);}
#header .home{position: absolute; top: 25px; right: 0;}
#header .home li{float: left;}
#header .home li a{display: block; padding-left: 50px;}
#header .home li:nth-child(1){background: url(../images/header_icon_H.png) no-repeat 25px center; margin-top: 2px;}
#header .home li:nth-child(1) a{font-family: 'Montserrat';}
#header .home li:nth-child(2){background: url(../images/header_icon_D.png) no-repeat 25px center; margin-top: 2px;}
#header .home li:nth-child(3){margin-left: -20px;}

.search_box input[type="text"]{border: 1px solid #ccc; border-radius: 30px; padding: 5px; width: 130px; height: 28px;
    font-size: 15px; }
.search_box input[type="submit"]{width: 30px; height: 28px;
     text-indent: -999999px; cursor: pointer; background: url(../images/top_search.png) no-repeat center center; }



#header .gnb{position: absolute; top: 195px; left: 50%; transform: translateX(-50%); height: 60px;}
#header .gnb > li{float: left;}
#header .gnb > li:first-child{padding-left: 0;}
#header .gnb > li:nth-child(1) > a{font-family: 'Nanum Gothic'; font-size: 22px;}
#header .gnb > li > a{display: block; font-size: 20px; font-family: 'Montserrat'; font-weight: 600; color: #666;
    padding: 10px 75px; transition: color 0.7s;}
#header .gnb > li:hover a{color: #33a9f8; font-weight: 700;}


#header .gnb .dp2{padding-top: 10px;}
#header .gnb .dp2 li{text-align: center;}
#header .gnb .dp2 li a{display: inline-block; color: #666; padding: 5px 20px;}
#header .gnb .dp2 li:hover a{color: #fff; font-weight: 600; background: #42aef7; border-radius: 20px;}




#header .gnb .dp2{padding-top: 10px;}
#header .gnb .dp2 li{text-align: center;}
#header .gnb .dp2 li a{display: inline-block; color: #333; padding: 5px 20px;}
#header .gnb .dp2 li:hover a{color: #fff; font-weight: 600; background: #42aef7; border-radius: 20px;}




/* main_banner */
#main_banner{height: 400px; background: url(../sub2/images/img_room_banner.jpg) no-repeat center center;
    margin-top: -20px;}
#main_banner h2{text-align: center; font-size: 45px; font-family: 'Montserrat';
    font-weight: 700; padding-top: 150px;}


/* a201 */
#a201{height: 720px; background: #53baff; position: relative; }
#a201 .cramble{padding:20px 0; font-family: 'Montserrat';}
#a201 .cramble a{ color: #eee;}
#a201 .cramble span{padding-left: 20px; background: url(../images/icon_creamble.png) no-repeat 5px center;}
#a201 img{text-align: center; padding-top: 50px; margin-left: 250px; transition: opacity 0.3s;}
#a201 img:hover{opacity: 0.5;}
#a201 h2{text-align: center; font-size: 40px; font-weight: 800; position: absolute; top: 280px; left: 880px;
color: #666;}
#a201 .txt{text-align: center; color: #fff; padding-top: 50px; font-size: 20px;}



/* ocean */
#ocean{height: 1000px; position: relative; background: #D9D9D9;}
#ocean h2{font-size: 30px; font-weight: 700; font-family: 'Montserrat'; padding-bottom: 20px;}
#ocean .view{position: absolute; top: 80px; left: 400px; width: 600px; height: 320px;}
#ocean p{color: #666;}
#ocean .view li{float: left;}
#ocean .spa{position: absolute; top: 380px; right: 400px;}
#ocean .spa li{float: left;}
#ocean .bbq{position: absolute; top: 630px; left: 400px;}
#ocean .bbq li{float: left;}
#ocean .view .txt{padding: 70px 0 0 50px;}
#ocean .spa .txt{padding: 100px 50px 0 0;}
#ocean .bbq .txt{padding: 100px 0 0 50px;}



/* resev */
#resev{text-align: center; padding: 100px 0; position: relative;}
#resev h2{font-size: 40px; font-weight: 700; padding-bottom: 50px;}
#resev .btn1{position: absolute; top: 105px; left: 210px;}
#resev .btn2{position: absolute; top: 105px; right: 210px;}

#resev table th{padding: 10px; border-right: 1px solid #e8e8e8;}
#resev table .data{background: #75beee; color: #fff;}
#resev table .red{color: #f00;}
#resev table td{padding: 10px; border-top: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;}
#resev table span{text-decoration: line-through;}
#resev table td:last-child{border-right: none;}
#resev table th:last-child{border-right: none;}




/* guid */
#guid {position: relative; height: 530px; text-align: center; margin-bottom: 100px;}
#guid h2{font-size: 30px; font-weight: 700; padding-bottom: 30px;}
#guid .guid_1{position: absolute; top: 0; left: 130px;}
#guid .guid_2{position: absolute; top: 0; left: 650px;}
#guid .guid_3{position: absolute; top: 250px; left: 320px;}
#guid .txt{width: 425px; height: 130px; background: #9bcced; color: #fff; 
padding-top: 40px; border-radius: 50px 0 50px 0;}
#guid .txt span{font-weight: 600;}
#guid .guid_3 .txt{width: 550px;}
#guid .guid_2 .txt{padding-top: 50px;}








/* footer */
#footer{height: 290px; background: #505050; color: #fff;}
#footer .inner{position: relative;}
#footer dt{display: inline-block; font-size: 23px; font-weight: 600; border-bottom: 3px solid #707070;
margin-bottom: 10px; font-family: 'Montserrat';}
#footer h2{position: absolute; top: 80px; left: 0;}
#footer .address{position: absolute; top: 80px; left: 300px;}
#footer .tel{position: absolute; top: 80px; left: 600px;}
#footer .bank{position: absolute; top: 80px; left: 850px;}
#footer .copy{position: absolute; top: 230px; left: 300px; font-family: 'Montserrat';}
#footer .sns{position: absolute; top: 220px; left: 720px;}
#footer .sns li{float: left; padding-right: 10px;}


.gotop{position: fixed; right: 50px; bottom: 50px; cursor: pointer;}